<%= javascript_pack_tag 'landing' %>

<div class="container">

  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <h1 class="text-center">Sweet Memories</h1>
    </div>
    <div class="col">
    </div>
  </div>

  <% if user_signed_in? %>

  
    
  <% else %>

    <div class="row">
      <div class="col">
      </div>
      <div class="col text-center">
          <button type="button" class="btn btn-primary" id="signUpBtn">Sign Up</button>
          <button type="button" class="btn btn-secondary" id="logInBtn">Log In</button>
      </div>
      <div class="col">
      </div>
    </div>
    
  <% end %>

</div>
